.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.contenedorCentrado{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.containerVertical {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.flexItem {
    margin: 15px 20px;
}